.main {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  font-family: "Montserrat", sans-serif;

  .details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .name {
      font-size: 1.3rem;
      font-weight: 700;
    }
    .tel {
      font-size: 0.75rem;
      font-weight: 400;
    }
  }

  .edit {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .icon {
      font-size: 1.3rem;
    }
  }
}
